@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");

body {
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.lead {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3, h4 {
 font-family: "Heebo", sans-serif;
  font-weight: bold; 
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
}

h5, h6 {
  font-family: "Heebo", sans-serif; 
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))); 
}

.main_title {
  text-align: center;
  margin-bottom: 75px; }
  .main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .main_title p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;    
    margin-bottom: 0px;
    max-width: 100em;
    margin: auto; }
  .main_title.white h2 {
    color: #fff; }
  .main_title.white p {
    color: #fff;
}

.work_inner {
  margin-bottom: -50px; }

.work_item {
  text-align: center;
  margin-bottom: 50px; }
  .work_item i {
    height: 80px;
    width: 80px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background: #f9f9ff;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #222222;
    margin-bottom: 30px; }
  .work_item h4 {
    color: #222222;
    font-size: 20px;
    margin-bottom: 15px; }
  .work_item p {
    max-width: 310px;
    margin: auto; }  

.mysection {
	padding: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300))); 
}

.comparisonexample {
	padding-bottom: 25px;	
	padding-top: 25px;
	background: #e4e6eb;
}

.responsiveimg {
  max-width: 100%;
  height: auto;
}